name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.X'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavennet'
          cache: 'npm'
      - run: npm ci --omit=dev --ignore-scripts
        env:
          PAT: ${{ secrets.PAT }}
      - run: npm run lint
