name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.X'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavennet'
          cache: 'npm'
      - run: npm ci --ignore-scripts
        env:
          PAT: ${{ secrets.PAT }}
      - run: npm run lint

  bump-version:
    name: 'Bump Version on master'
    runs-on: ubuntu-latest
    needs: [lint]
    outputs:
      newTag: ${{ steps.bump-version.outputs.newTag }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
      - name: Automated Version Bump
        id: bump-version
        uses: phips28/gh-action-bump-version@v9.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          commit-message: '[no ci]: bumps version to {{version}}'

  publish-package:
    runs-on: ubuntu-latest
    needs: [bump-version]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.X'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavennet'
          cache: 'npm'
      - run: npm ci  --ignore-scripts
        env:
          PAT: ${{ secrets.PAT }}
      - run: npm version $NEW_TAG --no-git-tag-version
        env:
          NEW_TAG: ${{ needs.bump-version.outputs.newTag }}
      - run: npm publish --ignore-scripts
        env:
          PAT: ${{ secrets.PAT }}

  release:
    name: 'Release'
    runs-on: 'ubuntu-latest'
    needs: [bump-version, publish-package]
    steps:
      - uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: 'latest'
          prerelease: true
          title: 'Development Build  ${{ needs.bump-version.outputs.newTag }}'
