name: CI/CD

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '16.X'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavennet'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
        env:
          PAT: ${{ secrets.GITHUB_TOKEN }}

  bump-version:
    name: 'Bump Version on master'
    runs-on: ubuntu-latest
    needs: [lint]
    outputs:
      newTag: ${{ steps.bump-version.outputs.newTag }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Automated Version Bump
        id: bump-version
        uses: phips28/gh-action-bump-version@v9.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PAT: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit-message: 'CI: bumps version to {{version}}'

  publish-package:
    runs-on: ubuntu-latest
    needs: [bump-version]
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: '16.X'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mavennet'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - run: npm ci
        env:
          PAT: ${{ secrets.GITHUB_TOKEN }}
      - run: npm version $NEW_TAG --no-git-tag-version
        env:
          NEW_TAG: ${{ needs.bump-version.outputs.newTag }}
      - run: npm publish

  pre-release:
    name: 'Pre Release'
    runs-on: 'ubuntu-latest'
    needs: [bump-version]
    steps:
      - uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: 'latest'
          prerelease: true
          title: 'Development Build'
